 <form>
  <div class="row">
    <div class="col-md-6 form-group">
      {{ element.elements.name }}
    </div>
    <div class="col-md-6 form-group">
       {{ element.elements.email }}
    </div>
    <div class="col-md-12 form-group">
      {{ element.elements.subject }}
    </div>
    <div class="col-md-12">
      {{ element.elements.message }}
    </div>
    {{ element.elements.actions }}
  </div>
</form>